
// A list of PYDT game ids and slack channels to post to
// Note: Channel is not required. It can use the default one set up when webhook was created.

// example:
// module.exports.games = {
//  '93d53660-17d4-48f9-be87-7cf01286d79e': {
//      'slack_url': 'https://hooks.slack.com/services/TBSABC123/CBA987XZY/vrmlNWSrTbkkttjiJ5O1dep4',
//      'slack_getUsers': 'https://[name].slack.com/api/users.list?token={uuid}',
//      'channel': 'general'
//  },
//  '2a740247-d9b9-484c-9225-a75a78ffdc4b': {
//      'slack_url': 'https://hooks.slack.com/services/TBSABC123/CBA987XZY/vrmlNWSrTbkkttjiJ5O1dep4',
//      'slack_getUsers': 'https://[name].slack.com/api/users.list?token={uuid}'
//  }
// };

module.exports.games = {
    'PYDT_GAME_UUID': {
        'slack_url': 'SLACK_FULL_WEBHOOK_URL',
        'slack_getUsers': 'CUSTOM_SLACK_APP',
        'channel': 'SLACK_CHANNEL'
    }
};
